vendor/
docs/*.pyc
docs/_build
build/artifacts/
src/files.jsond
composer.phar
composer.lock
composer-test.lock
phpcbf-fixed.diff
.idea
.DS_STORE
.php_cs.cache
wp-register.code-workspace
.repository.md
.vscode/